/* ヘッダー */
QFrame#frameHead{
    color: #FFFFFF;
    background-color:rgba(63, 81, 181,0.9);
}

QToolBar, QFrame#fmTootBar{
    border: 1px outset rgba(183, 193, 210,0.3);
}

QToolBar, QFrame#fmControl, QFrame#fmTootBar{
    background-color:rgba(183, 193, 210, 0.8);
}

/* glass */
QToolBar, QFrame#fmControl, QFrame#fmTootBar, QFrame#frameHead{
    background-image:url(:/images/glass.svg);
    background-position: left center;
    background-repeat: repeat-x;
}

/* ヘッダーラベル */
QLabel#headerSubLable, QLabel#laFilePath {
    color: palette(Light);
    qproperty-alignment: AlignCenter;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:5px;
}
QLabel#headerSubLable {
    border: 1px outset palette(Dark);
    border-radius:3px;
}

/* TableViewExのソートインジケーター */
FilterHeader::down-arrow {
    position: center;
    image: url(:/images/arrow_down.svg);
}
FilterHeader::up-arrow {
    position: center;
    image: url(:/images/arrow_up.svg);
}

QProgressBar {
    text-align: center;
    border: 1px solid palette(Mid);
    border-radius: 2px;
    background-color: palette(Window);
}
QProgressBar::chunk {
    border: none;
    background-color: palette(highlight);
}
