h2 {
    font-size: large;
    font-weight: bold;
}
.mark {
    color: #FFFFFF;
    background-color: rgb(63, 81, 181);
}
.markTag {
    color: #FFFFFF;
    background-color: #333;
}
h3 {
    margin:0;
    margin-bottom:5px;
    padding:0;
    font-size: medium;
    font-weight: 600;
}
/*.tag { color:rgb(63, 81, 181); }*/
.tag {color: palette(highlight);}
.highlight { background-color: darkorange; }
